<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/read.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="back">
        <div id="center">
            <h3>Your Thoughts</h3>
            <% data.forEach(function(val){ %>
                <div class="thought">
                    <div id="txt">
                        <p><%= val.post %></p>
                    </div>
                    <div id= "icons">
                        <a href=<%= "/update/"+val._id %> ><i class="ri-pencil-line"></i></a>
                        <a href=<%= "/delete/"+val._id %> ><i class="ri-delete-bin-6-line"></i></a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>