*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "product sans";
}

html,body{
  width: 100%;
  height: 100%;
}

#back{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(168, 129, 129);
}

#center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(122, 110, 110);
  background-color: #fff;
  /* margin-top: 20px; */
}

#center h3{
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 200;
  color: rgb(168, 129, 129);
  margin-top: 20px;
}

#center form{
  padding: 20px 40px;

}

#center textarea{
  display: block;
  justify-content: center;
  width: 100%;
  height: 60vh;
  resize: none;
  outline: none;
  padding: 20px 30px;
  font-size: 18px;
}

#center form input{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 100;
}
